/*// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
	text-align: center;

}


.photo {

	display: inline-block;
	/*width: auto;
	height: auto;*/
	vertical-align: top;
	padding: 10px;
	text-align: center;
	
}

.photo img {
	border-radius: 15px;
	width: auto;
	height: auto;

}

.actions{
	margin-top: 20px;
}



.photo p a {
	color: rgba(30, 217, 210, 0.7);

}

p a:visited {
	color: rgba(30, 217, 210, 0.7);
}

